@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

h2 {
    font-family: 'Major Mono Display';
    color: rgb(67, 45, 102);
    font-size: 18pt;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 20px 20px;
    padding: 10px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: solid 2px purple;
    font-family: sans-serif;
    align-content: center;
    border-radius: 10px;
}

#headerMenu {
    display: inline-flex;
    justify-content: flex-end;
    gap: 0px 20px;
}

.logo {
    height: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

@media (width < 950px) {
    h2 {
        font-size: 11pt;
    }
}

@media (width < 750px) {
    h2 {
        display: none;
    }
}