#card {
    width: 400px;
    box-shadow: 5px 5px 5px grey;
    padding: 20px;
    margin: 50px;
    border-radius: 5px 5px 50px 5px;
    display: flex;
    background-color: lightblue;
}

#rowFirst {
    border-bottom: solid 1px black;
    margin: 40px 0px;
}

#rowSecond {
    display: flex;
}

* {
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
}

.tags {
    font-style: italic;
    font-size: 8pt;
}

.title {
    text-align: center;
    letter-spacing: 10pt;
    border-bottom: solid 1px black;
    font-style: italic;
}

#images {
    place-content: center;
}

#image {
    height: 100px;
    box-shadow: 10px 10px 10px grey;
    background-color: white;
}

#images {
    transition: transform 0.15s ease-out;
    transform-style: preserve-3d;
    will-change: transform;
}